<% provide :my_title, "你好，我是 Title" %>

<h1>候選人列表</h1>
<%= icon_link_to "新增候選人", new_candidate_path, "plus" %>

<table class="table">
  <thead>
    <tr>
      <td>候選人姓名</td>
      <td>政黨</td>
      <td>政見</td>
      <td>得票數</td>
      <td>得票數</td>
      <td>處理</td>
      <td><%= user_gender(-1) %></td>
    </tr>
  </thead>
  <tbody>
    <%= render @candidates %>
    <%= render "banner", content: "我是廣告的內容2" %>
  </tbody>

</table>
